html,
body{height:100%;}
body{padding-top:50px;}
.img-portfolio{margin-bottom:30px;}
.img-hover:hover{opacity:0.8;}
header.carousel{height:50%;}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner{height:100%;}
header.carousel .fill{width:100%;height:100%;background-position:center;background-size:cover;}
.error-404{font-size:100px;}
.price{display:block;font-size:50px;line-height:50px;}
.price sup{top:-20px;left:2px;font-size:20px;}
.period{display:block;font-style:italic;}
footer{margin:50px 0;}
@media(max-width:991px){.customer-img,
.img-related{margin-bottom:30px;}
}
@media(max-width:767px){.img-portfolio{margin-bottom:15px;}
header.carousel .carousel{height:70%;}
}
.blog .media-object{border-left:2px solid #b90000;}
.footer a{color:#FFFFFF;}
.footer a:hover{color:#f4efef;}