@charset "utf-8";
@font-face {
	font-family: 'AntonioBold';
	src: url('./webfonts/antonio-bold-webfont.eot');
	src: url('./webfonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'), 
		url('./webfonts/antonio-bold-webfont.woff') format('woff'), 
		url('./webfonts/antonio-bold-webfont.ttf') format('truetype'), 
		url('./webfonts/antonio-bold-webfont.svg#antoniobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AntonioRegular';
	src: url('./webfonts/antonio-regular-webfont.eot');
	src: url('./webfonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./webfonts/antonio-regular-webfont.woff') format('woff'), url('./webfonts/antonio-regular-webfont.ttf') format('truetype'), url('./webfonts/antonio-regular-webfont.svg#antonioregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
font-family: 'Kuba_reczny';
src: url('./webfonts/Kuba_reczny.eot?#iefix') format('embedded-opentype'),  url('./webfonts/Kuba_reczny.woff') format('woff'), url('./webfonts/Kuba_reczny.ttf')  format('truetype'), url('./webfonts/Kuba_reczny.svg#Kuba_reczny') format('svg');
font-weight: normal;
font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin-ext');

	/* czerwony: #c70c60
	ciemnoszary: #232323
	jasnoszary: #c2bebd

	malinowy: #c70c60;
	pomarańcz: #ed1c24
 */



body {
	height: calc(100% - 155px);
	overflow-x: hidden;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.facebook {
	padding-top: 0px;
	margin-bottom:25px;
}

.sidebar > li {
	float: none;
} 

 .sidebar > li > a:hover {
	background-color: #ed1c24 !important;
	color: #FFF !important;
}

.maincontainer {
	margin: 0 auto -155px auto;
	height:100%; 
	min-height: 100%; 
	height: auto !important;
	padding: 0;
}
.navbar-inverse {
	background-color:#232323;
}

.logo {
	height: 41px;
	margin: -10px 0px 0 -10px;
}

.h3, h3{
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	border: none;
	padding-left: 0px;
}

#trainingTitle > h3 {
	font-size: 24px;
	color: #AAAAAA;
	font-weight: normal;
	line-height: 1.2em;
}

.h2, h2 {

	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	border: none;
	padding-left: 0px;
}

.h2red {
	color: #c70c60;
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.blogT_info_main {
	background-color: rgba(0, 0, 0, .5);
	bottom: 0px;
	height: 40%;
	position: absolute;
	width: 100%;
	padding-top: 2px;
	padding-left: 5px;
	text-align: center;
}

.blogT_info_main a {
	color: #FFF;
}

.blogp {
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size:cover;
	background-size:cover;
	height: 150px;
	background-clip: content-box;
	font-family: Antonio, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

a.menuActive {
	border-bottom: 2px solid #b90000 !important;
}

.btn-tabs:hover {
	color: #FFF;
}

.btn-tabs {
	color: #FFF;
	background-color: #6D6D6D;
	padding: 2px;
	margin-bottom: 3px;
	border-radius: 0px;
}

.li-tabs {
	margin-bottom: 10px;
	border-bottom: 1px solid whitesmoke;
}

.footer {
	position: relative;
    min-height: 155px;
    margin-top: 10px;
    /*box-shadow: 0px 0px 35px 25px rgba(0,0,0,0.15);*/
    clear: both;
	margin: 0px;
	background-image: url(../../img/frontend/footer-bg.jpg);
background-size: cover;
	/* background-color:#232323; */
	color: #FFFFFF;
}
/* .row.footer:before {
background: url(../../img/frontend/footer-bg.jpg);
    content: " ";
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    margin: -30px 0;
    z-index: 0;
	opacity: 0.1;
	filter:grayscale(1);
} */
.footer_bottom img { 

}
.footer a {
    color: #FFFFFF;
	text-decoration: underline;
}
 .footer a:hover {
	 color:#c70c60;
	 
 }
 .inline {
	 display:inline;
 }
.sidebar > li {
	border-bottom: 1px solid #e0e0e0;
}

.sidebar > li:last-child {
	border-bottom: none;
}

#cloudTag {
	line-height: 18px;
	width: 100%;
	text-align: center;
	        word-break: break-word;
	margin-top: 10px;
	transition:.5s all ease-in-out;
}

#cloudTag a {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	display: inline;
	font-size: inherit;
	line-height: inherit;
	color: #7c7d7e;
	text-decoration: none;
	
}
#cloudTag .tag { 
	transition:.5s all ease-in-out;
	opacity:0;
}

#cloudTag .word {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: 200;
	padding: 2px;
}
#cloudTag .tag:nth-child(3n) a {
	color: #000;
	font-weight: 400;
}

#cloudTag .tag:nth-child(2n) a {
	color: #595959;
	font-weight:200;
} 
 
#cloudTag.blogCloud {
	width: 100%;
}

.size9 {
	font-size: 2.1em;
}

.size8 {
	font-size: 1.9em;
}

#cloudTag .size7 {
	font-size: 1.7em;
}

#cloudTag .size6 {
	font-size: 1.5em;
}

#cloudTag .size5 {
	font-size: 1.3em;
}

#cloudTag .size4 {
	font-size: 1.1em;
}

#cloudTag .size3 {
	font-size: 1em;
}

#cloudTag .size2 {
	font-size: .8em;
}

#cloudTag .size1 {
	font-size: .7em;
}
 
ol {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */

	padding: 0px 5px 5px 0px;
	margin-bottom: 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list a{
	 position: relative;
	 display: block;
	 padding: .4em .4em .4em .8em;
	 *padding: .4em;
	 margin: .5em 0 .5em 2.5em;
	 background: transparent;
	 color: #333;
	 text-decoration: none;
	 transition: all .3s ease-out;
 }

.rectangle-list .current a{
	background: #eee;
}

.rectangle-list .current a:after{
	left: -.5em;
	border-left-color: #b90000;
}

.rectangle-list a:hover{
	background: #eee;
}

.rectangle-list a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #b90000;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
	color: #FFF;
}

.rectangle-list a:after{
	position: absolute;
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
	left: -.5em;
	border-left-color: #b90000;
}

.rectangle-list .next a{
	color: #d9d9d9
}

.rectangle-list .next a:before{
	background: #eee;
}

.rectangle-list a:hover{
	color: #333;
}

.rectangle-list .next a:hover:after{
	left: -.5em;
	border-left-color: #eee;
}

.leftmenu {
	width: 100%;
}

#listaTren a,#trenDet a {
	font-family:AntonioBold;
	font-size:48px;
	font-weight:400;
	line-height:56px;
	color:#CCC;
	margin-right:5px;
	text-decoration:none;
	float: left;
}

#listaTren a:hover {
	color:#FFF;
	background-color:#999;
}

#listaTren img {
	margin-right:5px;
}

#trenDet {
	width:95%;
	margin:0 80px 0 0px;
}

#trenDet p {
	font-size:14px;
	line-height:2em;
	margin-top:1em;
}

#trenDet li {
	font-size:14px;
	line-height:2em;
}

.trainerBigPicture {
	float:right;
	margin:0 -6px 1em 1em;
}

.antonioBig {
	font-family:AntonioRegular;
	color:#7c7d7e;
	font-weight:400;
	font-size:24px;
}
h1.antonioBig{
	font-size: 24px;
	line-height: 1.8em;
}

.overtitle {
	font-size:24px;
	color: #6D6D6D;
	display: block;
    line-height: 36px;
    margin-top: 18px;
}
.big {
	font-family:AntonioRegular;
	font-size:24px;
	font-weight:200;
	margin:0;
}

.red {
	color:#c70c60;
}

.white {
	color: #FFFFFF;
}

.orange {
	color: #ed1c24;
}
.antonioSmall {
	font-family:AntonioBold;
	font-size:18px;
	font-weight:400;
	line-height:24px;
}

.szkolenia_main_image {
	position: relative;
	top: 10px;
	left: 35%;
}

/*.szkolenia_main_col {*/
	/*min-height: 300px;*/
/*}*/

.grayback {
	background-color:#f9f7f7;
}

#obrazekszkolenia {
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
}

#cyttresc {
	display:block;
	width:350px;
	background-image:url(../../img/frontend/grayback.png);
	position:absolute;
	top:50px;
	right:-20px;
	padding:1em;
}

#cyttresc p {
	line-height:1.6em;
	font-size:24px;
	color:#FFF;
	font-weight:200;
}

#cyttresc em {
	font-size:14px;
	position:relative;
	left:200px;
}

.toright ul {
	line-height: 24px;
	list-style-image: none;
	margin: 1em 2em 1em 45px;
}

#trainingList {
	list-style-type: none;
	margin: 0;
}

#trainingList li {
	margin-bottom: 1em;
	font-size: 18px;
	border-left: dotted 1px #a0000b;
	padding-left: 1em;
}

#trainingList .trainingNews {
	float: right;
	margin: 10px 5px 0 0;
}

#trainingList .trainingLid {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #a0000b;
}

.listyRef_instytucja {
	/*font-family: 'Noticia Text', Georgia, "Times New Roman", Times, serif;*/
	font-size: 18px;
	color: #333;
	margin: 0 1em 1em 0;
}

.listyRef_body {
	/*font-family: 'Noticia Text', Georgia, "Times New Roman", Times, serif;*/
	font-size: 16px;
	line-height: 24px;
	display: block;
	/*margin: 24px 1em 1em 1em;*/
	padding: 1em 0 0 0;
	width: 100%;
}
.ref_boxLeft, .ref_boxRight{
	clear:both;
	width:90%;
}
.ref_boxRight{
	float:right;
}

.ref_imgRight {
	margin: 0 1em 0 0;
	border: 0;
	float: right;
}

.ref_imgLeft {
	margin: 0 1em 0 0;
	border: 0;
	float: left;
}

.listyRef_a {
	clear: both;
}
.listy_wyr {
	color: #a0000b;
}

.branza {
	font-family: 'Noticia Text', Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	color: #a0000b;
	margin-top: 1.5em;
	clear: both;
}

.FirmList {
	display: block;
	list-style-image: url(../../img/frontend/list_bullet.gif);
	list-style-type: none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 2em;
	margin-left: 0px;
	font-size: 11px;
	line-height: 17px;
	float: left;
}

.logos {
	background-color: #FFFFFF;

	float: right;
	margin-top: 40px;
}

@media (min-width: 1200px) {
	.logos {
		width: 90px !important;
	}
}

@media (min-width: 992px) {
	.logos {
		width: 100%;
	}
}
#RefList {
	max-width: 540px;
	float: left;
}

.shortFirm {
	float: left;
	width: 260px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.refTitle {
	font-family: 'Noticia Text', Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	margin-bottom: 1em;
}

.refOpinie {
	list-style-type: none;
	list-style-image: none;
	font-family: 'Noticia Text', Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	width: 95%;
	margin-left: 2em;
}

.WaznaReferencja {
	background-image: url(../../img/frontend/klamra.gif);
	background-repeat: no-repeat;
	padding-left: 42px;
	padding-top: 4px;
}

.refOpinie li {
	margin-top: 2em;
}

.refOsoba {
	display: block;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
	margin: 0.5em 2em 0px 0px;
	font-style: italic;
}

#trainingList {
	list-style-type: none;
	margin: 0;
}

#trainingList a {
	color: #5b5b5c;
	text-decoration: none;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.newsPic, .newsPicleft {
	float: left;
	border: 1px solid #DFDFDF;
	margin-right: 1em;
	padding: 1em;
}

#terminarz a {
	color: #5b5b5c;
	text-decoration: none;
}

#terminarz .termin {
	display: block;
	margin-left: 2em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
}

#terminarz p {
	margin: 0;
}

#trainingTitle a {
	position: absolute;
	top: 22px;
	right: 10px;
	color: #999;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
}

.prawo {
	float: right;
	position: relative;
	top: -20px;
}

.btn-aktywny {
	color: white;
	background-color: #b90000;
}

a.btn-aktywny:hover {
	color: white;
}

.btn-orange {
	color: white;
	background-color: #f15722;
}

a.btn-orange:hover {
	color: white;
}

.floatLeftImg {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.floatLeftImgA {
	float: left;
	margin-right: 5px;
	margin-top: -10px;
}
.floatRightImg {
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

#OfertySide {
	float: right;
	background-color: #ed1c24;
	display: block;
	width: 240px;
	color: white;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 14px;
}

#OfertySide h1 {
	color: white;
	line-height: 1em;
}

#OfertySide a {
	color: white;
}
#szkolenie { 
	max-width: 95%;
}
#szkoleniaTabs {
	height:160px;
	list-style-type:none;
	position:relative;
}

#zakladkiProces {
	width:650px;
	list-style-type:none;
	position:relative;
	top:20px;
	left:0;
	height:162px;
	margin:0;
}

#zakladkiProces li {
	list-style-type:none;
	float:left;
}

#zakladkiProces a {
	display:block;
	text-decoration:none;
	font-size:14px;
	text-align:center;
	padding-top:120px;
	height:62px;
	width:147px;
	color:#7c7d7e;
}

#closedTabS_1.active a,#closedTabS_2.active a,#closedTabS_3.active a,#closedTabS_4.active a {
	border-top:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	border-bottom:1px solid #FFF;
}

#closedTabS_2 a:hover,#closedTabS_3 a:hover,#closedTabS_4 a:hover {
	color:#a0000b;
	border-bottom:1px solid #a0000b;
}

#closedTabS_1 a {
	background-image:url(../../img/frontend/closed_01.gif);
	background-position-x:center;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	border-bottom:1px solid #DEDEDE;
	margin:0 10px 0 0;
}

#closedTabS_1 a:hover {
	color:#a0000b;
	font-weight:400;
	border-bottom:1px solid #a0000b;
}

#closedTabS_2 a {
	background-image:url(../../img/frontend/closed_02.gif);
	background-position-x:center;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	border-bottom:1px solid #DEDEDE;
	margin:0 12px 0 0;
}

#closedTabS_3 a {
	background-image:url(../../img/frontend/closed_03.gif);
	background-position-x:center;
	border:1px solid #FFF;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	border-bottom:1px solid #DEDEDE;
	margin:0 12px 0 0;
}

#closedTabS_4 a {
	background-image:url(../../img/frontend/closed_04.gif);
	background-position-x:center;
	color:#7c7d7e;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	border-bottom:1px solid #DEDEDE;
	margin:0 1px;
}

#closedTabSContent_1,#closedTabSContent_2,#closedTabSContent_3,#closedTabSContent_4 {
	padding-top:2em;
	display:none;
}

#closedTabSContent_1 {
	display:block;
}

#closedTabSContent_1 ul,#resume p {
	margin-right:0;
	margin-bottom:.5em;
	margin-left:0;
	padding:0 0 0 4em;
}

#closedTabSContent_1 blockquote {
	font-style:normal;
	margin:1em 0 1em 60px;
}

#trainingCList {
	list-style-type: none;
	margin: 1em 0 0 2em;
}

#trainingCList li {
	margin-bottom: .5em;
	font-size: 14px;
	border-left: dotted 1px #a0000b;
	padding-left: 1em;
}

#blog_sz_leftcol {
	float:left;
	position:relative;

}
#cup{
	display: block;
	width: 371px;
	height: 328px;
	background-image: url(../../img/frontend/cup.png);
	position: absolute;
	top: 200px;
	right: 20px;
	z-index: 2;
}
#blog_sz_leftcol ul {
	list-style-type:none;
	list-style-image:none;
	margin-top: 1em;
	z-index: 1;
}

#blogMenu a {
	display:block;
	font-size:32px;
	text-decoration:none;
	color:#7c7d7e;
}
#blog_sz_leftcol a:hover {
	color: #a0000b;
}
#blog_sz_leftcol h1 {
	color:#7c7d7e;
	margin-left:16px;
	margin-top:.5em;
}
.kuba {
	font-family:'Kuba_reczny','Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

.blog_fb-like {
	margin-top: 100px;
	z-index: 4;
}
#face {
	z-index: 4;
}
.blog_polub {
	display:block;
	width:200px;
	padding-bottom:40px;
	margin:20px auto 40px;
}
#blog_sz_maincol{
	position:relative;
	float:right;
	padding-right:160px;
	padding-left:20px;
	color:#5b5b5c;
	font-size:13px;
}

#blog_sm_maincol{
	float:right;
	color:#5b5b5c;
	font-size:14px;
}

#blogEntry_header{
	margin-top: 22px;
	margin-bottom: 20px;
	width: 720px;
	height: 270px;
	position:relative;
	right:20px;

}
.topPage{
	margin-top:.5em;
}

.published {
	font-size:10px;
	color:#7c7d7e;
	margin-top: 20px;
}

.tagi a {
	font-size:13px;
	color:#7c7d7e;
	text-decoration: none; line-height: 36px;
}

.lid {
	font-size:14px;
	line-height: 24px;
	font-weight: bold;
}

.blog_tekst {
	font-size:14px;
	line-height: 1.7em;
	margin-top: 1em;
	background-image:url(../../img/frontend/coffee.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.blog_tekst p {
	margin-bottom: 1em;
}
.blog_tekst h2{
	font-family:'Kuba_reczny','Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight: 100;
	margin-top:1em;
	line-height: 1em;
}
.blog_trainer {
	position: relative;
	float: right;
	width: 160px;
}

#blog_first {
	margin-top: 22px;
	margin-bottom: 20px;
	width: 100%;
	padding:0px;
	min-height: 270px;
	position:relative;

}
#blog_first h1 {
	position: absolute;
	height: 85px;
	width: 100%;
	padding: 5px;
	bottom:0;
	background-image:url(../../img/frontend/blog/blackTrans.png);
	font-family:AntonioRegular;
	font-weight:400;
}
#blog_first a {
	color: #FFF;
	text-decoration: none;
}
#blog_first a:hover {
	color: #fff;
}
#blog_first img{
	position: absolute;
	bottom: 22px;
	right: 10px;
}
#blog_first .inst_name {
	position: absolute;
	bottom:15px;
	right: 60px;
	color: #DEDEDE;
	text-align: right;
}
#blog_first .blog_tagi {
	display: block;
	position: absolute;
	right:10px;
	top:10px;
}

#blog_first .blog_tagi a {
	font-weight: bold;
	text-decoration: none;
	color: #000;

}
#blog_first .blog_data{
	display: block;
	position: absolute;
	bottom: 15px;
	left: 10px;
	color: #DEDEDE;
}
.blog_box {
	width: 49%;
	min-height: 190px;
	float:left;
	position: relative;
	margin-right: 2px;
	padding: 0px;
}
.blog_box a {
	position: absolute;
	height: 57px;
	padding: 5px;
	width: 100%;
	bottom:0;
	color:#000;
	background:#fff;
	text-decoration: none;
	border-bottom: 1px solid #DEDEDE;
	color:#7c7d7e;

}
.blog_box h2{
	font-family:AntonioRegular;
	font-weight:400;
	font-size:18px;
	margin: 0;
}

.blog_box p {
	font-size: 11px;
}
.blogT_info {
	position: absolute;
	height: 42px;
	width: 125px;
	padding: 0px;
	background-image:url(../../img/frontend/blog/blackTrans.png);
	bottom: 65px;
	right:10px;
	text-align: right;
	color: #FFF;
}
.blogT_info img{
	float:right;
	margin-left:5px;
}
.blogT_info p{
	margin-top:5px;
}
.blogOther {
	clear:both;
	padding: 10px 5px 5px 5px;
	position:relative;
}
.blogOther h3 {
	font-family:AntonioRegular;
	font-weight:300;
	font-size:18px;
}
.blogOther a {
	text-decoration: none;
	color:#7c7d7e;
}
.blogOther_author{
	position: absolute;
	height: 42px;
	width: 125px;
	padding: 0px;
	background-image:url(../../img/frontend/blog/blackTrans.png);
	top:20px;
	right:15px;
	text-align: right;
	color: #FFF;
	font-size: 11px;
}
.blogOther_author p{
	margin-top:5px;
}
.blogOther .blog_lid {
	line-height:1.5em;
	padding-top:10px;

}
.blogOther .blog_data {
	font-size: 10px;
}
.blogOther img{
	float:right;
	margin-left:5px;
}

.blogOther .blog_tagi{
	color:#DEDEDE;
	text-align: right;
}
.terminy_szkolenia {
	margin: 15px 0;
    line-height: 24px;
    border: solid 1px #DEDEDE;
	
}
.terminy_szkolenia_dol {
	background-color: #efefef;
	padding: 5px 15px 0px 0px;
	color: #000;
	/* margin-bottom: 20px; */
}

.terminy_szkolenia_dol ul li:first-child {
	font-family: AntonioBold;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
}

.terminy_szkolenia_dol ul li {
	    margin: 5px 0;
	/* font-size: 18px;
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; */
}
.img_slide:hover {
    z-index: 999 !important;
    height: 300px;
    width: 50%;
    transform: translateX(-25%);
}
.slides_js {
	width: 100%;
	position: relative;
	height: 300px;
}
.img_slide {
	    transition: 0.5s all ease-in-out;
	position: absolute;
	width:25%;
	height: 300px;
	background-size: cover;
	background-position: center;
}
.img_slide:nth-child(1) {
	z-index: 1;
	left: 0;
}
.img_slide:nth-child(2) {
	z-index: 2;
	left: 20%;
}
.img_slide:nth-child(3) {
	z-index: 3;
	left: 40%;
}
.img_slide:nth-child(4) {
	z-index: 4;
	left: 60%;
}
.img_slide:nth-child(5) {
	z-index: 5;
	left: 80%;
	background-position: 300px 0px;
}
.terminy_szkolenia {
	background-color: #efefef;
	padding: 5px 15px 0px 0px;
	margin-bottom: 20px;
	min-height: 85px;
}

.terminy_szkolenia ul li:first-child {
	font-family: AntonioBold;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
}

.terminy_szkolenia ul li {
	font-size: 18px;
	color: black;
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

#button_terminy {
	font-size: 26px;
	width: 190px;
	background-image: url(../../img/frontend/rezerwuj.png);
	right: 0px;
	text-align: right;
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	line-height: 30px;
	padding-right: 100px;
	min-height: 75px;
	display: flex;
	align-items: center;
}

span#button_terminy:hover {
	background-image: url(../../img/frontend/rezerwuj_h.png);
}

.korzysc {
	list-style-image: none;
	line-height: 1.8em;
	padding-right: 80px;
}
.korzysc ul{
	list-style:none;
}
.korzysc li {
	padding-left:28px;
	background: url(../../img/frontend/arrow01.gif) no-repeat 5px 5px;
}

.cytSzkolenie {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	padding-top: 20px;
	line-height: 1.8em;
	font-size: 14px;
	margin: 0 30px 15px 30px;
}


blockquote img {
	float: right;
	margin-left: .5em;
}

#opinie {
	background-color: #7c7d7e;
	color: #FFF;
	position: relative;
	padding: 5px 0px 20px 15px;
}

#opinie li {
	font-weight: 400;
	margin-right: 40px;
	margin-left: 0px;
	padding-left: 25px;
	margin-bottom: 20px;
}

#program {
	margin-bottom: 25px;
}

#program ul, #opinie ul, #scope ul {
	list-style-image: none;
	list-style-type: none;
}

#program ol>li {
	margin-top: 10px;
	font-weight: 700;
	padding-left: 25px;
}

#program ul>li {
	font-weight: 400;
	margin-right: 40px;
	margin-left: 0px;
}
#program h4 {
	font-family: AntonioRegular;
	font-size:20px;}

#opinie ul {
	padding-left: 0px;
}

.maxlist-more {
	color: #FFF;
	background-color: #232323;
	border: 1px solid #5b5b5c;
	font-family: AntonioBold;
	font-size: 18px;
	margin: 1em 40px;
	padding: .3em;
}

a.maxlist-more:hover, a.maxlist-more:focus {
	color: white;
}

.szczegoly {
	background-color: #efefef;
	color: #000;
	padding: 24px;
	margin-bottom: 4px;
	z-index: 1;
	position:relative;
	height:360px;
}

/*test rozwijania*/
.rozwijany {
	width:100%;
	margin:0 auto;
}

.wrap {
	position:relative;
	overflow:hidden;
	line-height: 1.8em;
}

#stars {
	position: absolute;
	top: -20px;
	right: 0px;
}

.gradient {
	width:100%;
	height:35px;
	background:url(../../img/frontend/bg-gradient.png) repeat-x;
	position:absolute;
	bottom:0;
	left:0;
}

#opinie .gradient {
	 width:100%;
	 height:35px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(124,125,126,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(124,125,126,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(124,125,126,0.65) 100%);
	 position:absolute;
	 bottom:0;
	 left:0;
 }

.read-more {
	text-align: center;
	color:#333;
	padding:5px;
}

#opinie .read-more a {
	color: white;
}

.read-more a {
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	padding-right:22px;
	font-weight:700;
	text-decoration:none;
}

.read-more a:hover {
	color:#000;
}
.title_section {
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #c70c60;
    font-size: 2.5rem;
}
.cena {
	text-align: center;
	font-size: 48px;
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #c70c60;
}

.vat {
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	clear: both;
    color: #151515;
    display: block;
    text-align: right;
}

.cena_zawiera li, .cena_zawiera1 li{
	width: 100%;
	line-height: 1.8em;
	
	}

.cena_zawiera, .cena_zawiera1{
	margin: 0;
	padding: 0;
	margin-bottom:-7px;
}
.regulamin-block {
	display: none;
}
.cena_zawiera h3{
	margin:0 0 1em 0;
}
.cena_zawiera1 h3{
	text-align:right;
	font-size: 46px;
	color:#c70c60;
	margin:0;
	display: inline-block;
}
.cena_zawiera1{
	/* height: 300px; */
	position:relative;
	text-align: right;
}

.cena_zawiera1 ul{
	padding-right:65px;
	margin-bottom:-7px;
}

.dni_szkolenia {
	font-family: AntonioBold;
	font-size: 34px;
	padding-top: 15px;
	font-weight: 400;
	line-height: 24px;
}

.btn-circle {
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 0px;
	font-size: 20px;
	line-height: 1.42;
	border-radius: 50px;
}

.regulamin li {
	font-size: 14px;
	color: #333;
	text-align: left;
	line-height: 1.2em;
	margin-bottom: 0.5em;
}


#orderForm {
	/*width: 480px;*/
	margin-left: auto;
	margin-right: auto;
}
#orderForm fieldset {
	margin-bottom: 10px;
	padding: 1em;
	border: 1px solid #DEDEDE;
	background-color: #FDFDFD;
}
#orderForm legend {
	font-size: 16px;
	color: #a0000b;
	margin: 0 0 0 -24px;
	padding: 5px 10px;
	border: 1px solid #DEDEDE;
	width: 220px;
}
#orderForm label {
	display: block;
	padding: 5px 0 3px 0;
}#orderForm input, #orderForm textarea {
	font-family: 'Noticia Text', Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: left top;
	border: 1px solid #DEDEDE;
	line-height: 24px;
	margin: 0 0 0 1em;
	padding: 0 0 0 5px;
	width: 96%
}
#orderForm select {
	font-size: 14px;
	border: 1px solid #DEDEDE;
	line-height: 24px;
	margin: 0 0 0 1em;
	padding: 0 0 0 5px;
}
#orderForm hr{
	margin-top:20px;
}
.inputLongText {
	width: 420px;
	height: 24px;
}

#select_kontener {
	width: 300px;
	float: left;
}
#terminy_sesja {
	clear: both;
}
#cena {
	/* display: none !important; */
	padding: 0px 0px 25px 15px;
	display: block;
	height: 24px;
	font-weight: 700;
}
.shorter {
	width: 380px;
	margin-right:10px;
}
a.podpowiedz span {
	display: none;
	padding: 2px 3px;
	margin-left: 8px;
	width: 130px;
}
a.podpowiedz img {
	border: none;
	position: relative;
	bottom: 22px;
	right: 10px;
}
a.podpowiedz:hover span{
	display: inline;
	position: absolute;
	margin: 15px 0 0 5px;
	background: #EDEDED;
	border: 1px solid #b30000;
	color: #000000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	text-align: center;
}

#orderForm textarea {
	height: 48px;
}
#orderForm .zipContainer {
	float: left;
}
#orderForm #zip {
	width: 70px;
	height: 24px;
}
#orderForm #city {
	width: 330px;
	height: 24px;
}
a.formAddField {
	background-image: url(../../img/frontend/form_add_off.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	line-height: 20px;
	color: #333;
	text-decoration: none;
	height: 20px;
	padding-left: 30px;
	margin: 5px 0 0 0;
}
a:hover.formAddField {
	text-decoration: underline;
	background-image: url(../../img/frontend/form_add_over.png);
}
a.formRemoveField {
	display: block;
	line-height: 20px;
	color: #333;
	text-decoration: none;
	height: 20px;
	padding-left: 30px;
	margin: 3px 0 0 0;
	font-size: 9px;
}
#orderForm .checkbox {

	border: none;
	width: 18px;
}
#orderForm .checkboxLabel {
	display: inline;
}
#orderForm #akceptacja {
	/* margin: 5px 3px 5px 22px; */
}
#buttonContainer {
	padding: 20px;
	clear:both;
}
#orderForm #submitButton {
	/* background-image: url(http://www.high5.pl/images/input_wyslij_off.gif); */
	/* color: #000000; */
	display: block;
	/* font-family: 'Noticia Text', Georgia, 'Times New Roman', Times, serif; */
	font-size: 24px;
	height: 66px;
	line-height: 62px;
	/* margin: 1em 0 1em 1em; */
	margin:1em auto;
	/* padding-left: 90px; */
	text-decoration: none;
	width: 355px;
}
#orderForm #submitButton:hover {
	/* background-image: url("../../img/frontend/input_wyslij_on.gif"); */
}
.reg2_registerButton {
	position: absolute;
	top: 0px;
	left: 115px;
	padding: 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: auto;
	overflow: hidden;
	background-image: url("../../img/frontend/wyslij_zgloszenie.jpg");
	background-repeat: no-repeat;
	/* WIDTH: The actual width of the image */
	width: 298px;
	/* HEIGHT: First number of padding; and number in 2nd height;  is actual height of image */
	padding-top: 39px;
	height: 0px !important;
	height /**/: 39px;
}
.reg2_registerButton:hover {
	background-image: url("../../img/frontend/wyslij_zgloszenie_on.jpg");
	background-repeat: no-repeat;
}

.regulamin {
	list-style-type: decimal;
}

.miejsce_termin {
	position: absolute;
	right: 35px;
	text-decoration: underline;
	color: #000000;
	font-size: 15px;
}

.thickmodal {
	padding-left: 20px;
	height:100%;
	background-color: white;
}

.thickmodal div {
	margin-right: 20px;
	font-size: 12px;
}

.thickmodal iframe {
	float:left;
	margin-right:20px;
}

.thickmodal p {
	font-size: 11px;
	line-height: 2em;
	margin: 1em 0;

}


#prozwoj .panel-default {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius:8px;
	border-color: #dfdfdf;
	border-width: 1px;
	-webkit-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.68);
	-moz-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.68);
	box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.68);
}
#prozwoj .panel-default > .panel-heading {
	background-color:#7c7d7e;
	color: white;
	border-radius:8px 8px 0 0 ;
}
#prozwoj .panel-footer {
	border-radius:0 0 8px 8px;
	text-align: right;

}

div.feature a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none; /* No underlines on the link */
	z-index: 10; /* Places the link above everything else in the div */
	background-color: #FFF; /* Fix to make div clickable in IE */
	opacity: 0; /* Fix to make div clickable in IE */
	filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#terminy_program {
	background-color: #ececec;
	margin-top: 50px;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 15px;
}

#program_zapisy {
	border: 5px solid #bababa;
	color: #ff9306;
	border-radius: 10px;
	padding: 0px 100px 10px 25px;
	font-weight: 600;
	font-size: 16px;
	background-image: url(../../img/frontend/zapisy.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: initial;
	position: absolute;
	width: 85%;
}

div#program_zapisy:hover {
	border-color: #ff9306;
}

#Programy {
	height:390px;
	background-image: url("../../img/frontend/programy.jpg");
}

#Gry {
	height:433px;
	background-image: url("../../img/frontend/gry.jpg");
}

#Certyfikacja {
	height:360px;
	background-image: url("../../img/frontend/PRISM-bg.jpg");
}
#Certyfikacja2 {
	height:507px;
	background-image: url("../../img/frontend/PRISM-bg2.jpg");
}

.literki {
	background-repeat: no-repeat;
	background-size: initial;
	text-align: right;
	background-position-x: left;
	background-position-y: bottom;
}

#trainingHead{
	height:400px;
	background-image: url("../../img/frontend/szkolenia_main.jpg");
}
.icon_sz img{
	margin-left:75px;
	border: 0;
	}

.prSmaller {
	display: block;
	color:#BDBDBD;
	
}
#manifest {
	font-size: 24px;
	font-family:'Kuba_reczny','Open Sans', Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	text-align: justify;
	border: 1px solid #CDCDCD;
    position: relative;
    margin-bottom: 50px;
}
#manifest .headerM{
	font-size:36px;
}
#manifest img {
    position: absolute;
    bottom: -60px;
    right: -80px;
    z-index: 1;
}
#manifest ol {
	padding: 0 2em;
}
#manifest li {
	margin-bottom: 1em;
}
#ending p{
	padding: 0 2em;
	line-height: 2em;
}
#PrRozwInfo{
	width: 336px;
	height: 759px;
	background-image: url("../../img/frontend/prinfo.jpg");
	font-family: Antonio, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:24px;
	text-decoration: none;
	text-align: center;
	padding-top: 180px;
}

#voucher{
	height:400px;
	background-image: url("../../img/frontend/voucher1a.jpg");
}
/*Testy */

#test {
	height: 500px;
	background-image: url("../../img/frontend/test1.jpg");
	padding:0;
}
#test3 {
	height: 250px;
	background-image: url("../../img/frontend/test1.jpg");
	padding:0;
}

#test h1
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1em;
	line-height: 1.5em;
	color:white;
	font-size:48px;
	text-align: center;
	margin-top: 4em;
}
#test3 h1
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5em;
	line-height: 1.5em;
	color:white;
	font-size:32px;
	text-align: center;
	margin-top: 1.5em;
}

#test2 {
	text-align: center;
	padding-top: 2em;
}
#test4{
	font-size: 20px;
	padding:1.5em 5em 0 5em;
}
#test4 form {
	margin-left: 2em;
}
#test4 #next{
	font-size: 24px;
	margin: 1em auto;
}
#test4 h3 {
	text-align: right;
}
#test4 label{
	font-weight: normal;
}
/*style dla skbuttonów w skali likerta*/

#likDiv input[type=radio] {
	display:none;
}

#likDiv input[type=radio] + label {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#likDiv input[type=radio]:checked + label {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#e0e0e0;
}


/*Prism */

.prismB{
	font-style: italic;
	line-height: 2em;
	padding-left:2em;	
}
.prismBP {
	display: block;
	text-align: right;
}
#prismProd {
	margin-left: 3em;
	
}
#prismProd h4 {
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#c70c60;
	font-weight: normal;
}
#breakfastHeader{
	height: 390px;
	background-image: url("../../img/frontend/brunch.jpg");
	position: relative;
}

#breakfastHeader .inside {
	
	width:100%;
	position: absolute;
	bottom:0;
	background-color: black;
	opacity: 0.5;
	padding: 1em;
	color:white;
		
}
.inside h1 {
	opacity: 1;
	color:#FFF;
	font-size: 32px;
}
.inside h2 {
	opacity: 1;
	color:#FFF;
	font-size:24px;
	
}
#brunchmain {
	margin:0 auto;
}
.bigger {
	font-size: 24px;
}

/*
*
*
*
*
* FRONT PAGE 10.02.2017
*
*
*
*/

.row.firstRow {
    margin: 10px -15px 20px -15px;
    max-height: 350px;
}

.firstRowHeading {
    margin: 0px 0px 15px 0px;
    font-size: 30px;
}

.firstRowText p {
    margin: 0 0 20px;
    line-height: 14px;
}

.feature.featureRed {
	background-color: #f4f4f4;
	min-height: 260px;
	padding: 0px 10px 0px 0px;
	/* box-shadow: inset -10px 0 0 0 white, inset 0 -2px 0 0 #6f11c6; */
}

.featurePurple {
	background-color: #f4f4f4;
	min-height: 260px;
	padding: 0px 5px 0px 10px;
	box-shadow: inset -5px 0 0 0 white, inset 10px 0 0 0 white, inset 0 -2px 0 0 #6f11c6;
}

.featureText {
	padding: 10px;
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.feature-panel {
	/* padding: 35px 10px 10px 10px; */
	/* color: white !important; */
}

.bg-red {
	background-color: #ed1c24 !important;
}

.bg-purple {
	background-color: #c70c60 !important;
}

.bg-grey {
	background-color: #f4f4f4;
}

.feature-small {
	padding-left: 5px;
	margin-left: 0px;
	margin-bottom: 10px;
}

.feature-small-text {
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	margin-bottom: 5px;
	color: #525456;
}

.feature-medium {
	padding-left: 5px;
	margin-left: 0px;
	margin-bottom: 10px;
	height: 80px;
	position: relative;
}

.feature-medium-text {
	font-family: AntonioRegular, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #525456;
	margin-bottom: 5px;
	padding-top: 5px;
}

.feature-diagnostyka {
	border-bottom: 2px solid #d0320a;
}

.feature-coaching {
	border-bottom: 2px solid #b90000;
}

.feature-programy {
	border-bottom: 2px solid #d00a94;
}

.feature-gry {
	border-bottom: 2px solid #9f11c6;
}

.feature-prism {
	border-bottom: 2px solid #6f11c6;
}
.feature-other {
	border: 2px solid #e71e73;
	padding: 0px 15px 0px 15px;
}

.bg-img-prism {
	background-repeat: no-repeat;
	background-size: initial;
	background-position-x: right;
	background-position-y: center;
	background-image: url('../../img/frontend/prism-logo.png');
}

.bg-img-hrna5 {
	background-repeat: no-repeat;
	background-size: initial;
	background-position-x: left;
	background-position-y: center;
	background-image: url('../../img/frontend/kfs_bur.gif');
}

#kfsHeader{
	height: 390px;
	background-image: url("../../img/frontend/kfs.jpg");
	position: relative;
}

.FPantonioBig {
	font-family:AntonioRegular;
    color:white;
    font-weight:400;
    font-size:32px;
	
}
#voucher2017 {
    height:300px;
    background-image: url('../../img/frontend/voucher1.jpg');
    background-repeat: no-repeat;
    background-position: 480px -20px;
}

#prismCert {
	float:right;
}
.podsumowanie { 
	display:block;clear:both;margin:15px 0;
	
}
.podsumowanie td { 
	padding: 10px;
}
#h5_banner .modal-body img {
	    display: block;
    margin: auto;
}

#h5_banner .modal-footer, #h5_banner .modal-header {
border:0px;
}
#h5_banner .btn-primary { 
padding: 15px 64px;
}
@media(min-width:991px) {
#h5_banner .modal-dialog {
	/* width:900px; */
	    display: flex;
	align-items: center;
	justify-content:center;
	height:100vh;
	width: auto;
	max-width:900px;
}
}
#h5_banner .modal-lg {
	width: inherit !important;
}
#h5_banner .close { 
		border-top-right-radius: 7px;
		padding: 20px;
		margin-top: -15px;
		margin-right: -15px;
		background: #ffffff;
		opacity: 1;
		position: absolute;
		right: 15px;
}
#h5_banner h1 { 
	font-weight: 900;
    color: #fff;
    text-shadow: 0px 0px 25px rgba(0,0,0);
    font-size: 5rem;
}
#h5_banner h2 { 
font-weight: 900;
color: #fff;
font-size: 2.8rem;
display: table;
float: right;
background: rgba(0,0,0,0.5);
padding: 10px;
border-bottom-left-radius: 5px;

border-bottom-right-radius: 5px;
width: 100%;
}
#h5_banner .modal-description { 
	position: absolute;

width: 100%;

left: 0;

bottom: -10px;


}
/* } */
@media(min-width: 768px)  {
 .navbar-fixed-top.navbar-nav > li > a {
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
	margin-bottom: 10px;
	    border-right: 1px solid #e9e9e9;
}
}
.navbar-fixed-top.navbar-default .navbar-nav > li > a { 
	color:#333;
	border-right:1px solid #eee;
}
.navbar-fixed-top .dropdown-menu { 
	background: #fff;
}
.navbar-fixed-top .dropdown-menu > li > a {
	color: #808080;
}
.navbar-fixed-top .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #333;
    text-decoration: none;
    background-color: #e1e1e1;
}
#zainteresowaniasearch button[type=submit]{ 
		border-radius: 0px !important;
		border:1px solid #000000 !important;
		color:#000 !important;
		background:#fff !important;
		    height: 35px;
    width: 48px;
}
#text_search { 
  
    color: grey;
    padding:17px 10px 16px 10px;
 
    border: 1px solid #000;
    border-radius: 0px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover { 
	border-color:transparent;
}
.navbar-fixed-top.navbar-default {
	    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}
.feature.featureRed.otwarte {
		color: #c93a60;
		background: #fff;
		
	border: 1px solid #eee;
	    margin-top: 0px;
}
 
.feature.featureRed.otwarte, .zamkniete.feature.featurePurple { 
	margin-top: -60px;
}
.color-purple {
	color:#c70c60;
	background: none;
}
.bg-transparent {
	    background: transparent !important;
	color: inherit !important;
	border:0px;
}
.zamkniete.featurePurple { 
    background: #ed1c24;
	color: #fff;
	margin-top: 0px;
	box-shadow: none;
}
.no-border {
	border:0px !important;
}
#myVideo {
	width:100%;
	display: block;
	margin: auto;
	position: absolute;
	    top: 0;
}
.carousel-caption {
background: none;
 }
.carousel-inner, .carousel {
	height:475px; 
	max-height:475px; 
} 
.carousel-caption h2 { 
	font-size: 3.6rem;
}
.carousel-caption p {
    font-size: 2.5rem;
    font-weight: 300;
    width: 50%;
}
.carousel-caption { 
	top:50%;
	font-family: 'Open Sans', sans-serif;
	
}
.konsultacje.coaching { 
		display: table;
		    /* padding: 20px 0 0; */
    width: 100%;
}
.list-konsultacje-coaching { 
	    font-family: Open Sans, sans-serif;
    font-weight: 300;
	font-size: 3rem;
    vertical-align: middle;
    background: #eee;
    float: none;
    display: table-cell;
}
.list-konsultacje-coaching li { 
	display: block;
	list-style-type:none;
}
.carousel-indicators {
	top: 5%;
}
.carousel-inner > .item{ 
	height:100%;
	z-index: 1;
}
	
.OpenSansText {
    font-family: Open Sans,sans-serif;
	font-size: 4.5rem !important;
    font-weight: 300;
    font-weight: 300;
    line-height: 24px;
    color: #ff4d40;

}
.arrow_icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: -15px;
	vertical-align: middle;
	display: inline;
}
.icon_pos_absolute {
	position: absolute;
    right: 25px;
}

.list-konsultacje-coaching a {
	color:#777;
}
@media(max-width:767px) { 
	.col-md-12.firstLineSlider {
		margin-bottom:75px;
	}
	.carousel.slide  { 
		display:none;
	}
}
.navbar-right {
    margin-right: -55px;
}

 .footer h5  {
	 font-size: 2rem;
    font-weight: 300;
 }
 a:hover > .arrow_icon {
    margin-left: 10px;
    transition: 0.2s all ease-in-out;
}
a:hover + div .arrow_icon {
	margin-right: 10px;
    transition: 0.2s all ease-in-out;
}
.term_closed {
	text-decoration: line-through;
}
.term--podtytul:first-letter {
	 text-transform: uppercase;
 }
 .term--podtytul {
	 font-size: 11px;	
	 color:#333;  
 }
 .blogp + p {
    border: 1px solid #eee;
    padding: 10px;
    min-height: 175px;
}
.footer input[type=text], .footer textarea { 
	background: rgb(38, 38, 38);
	  transition: .3s all ease-in-out;
border-radius: 0px;
border:1px solid #525456;
padding: 20px;
}
.footer h5 {
	font-weight: 700;
    font-size: 2em;
}

.footer > .container {
	padding:50px 0;
}
.footer #formularzKurs {
	width: 100% !important;
}
.footer  .alert-success {
    color: #61ac83;
background: none;
    border-color: #61ac83;
}

.footer .alert-danger {
    color: #e93f33;
background: none;
    border-color: #e93f33;
}
.footer input[type=submit]:hover {

    background: none;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(215, 10, 10, 1);
}
.footer a:hover {
    color: #e93f33;
}
.footer input[type=submit]  {
	    background: #e93f33;
	color: #fff;
	padding: 15px 50px;
	text-transform: uppercase;
	font-weight: 700;
	border: 0px;
	border-radius: 0px;
}
.footer input[type=text]:focus, .footer textarea:focus { 
	    background: rgb(24, 24, 24);
	outline: none;
	border:1px solid #525456;
}

.footer .form-control:focus  {
box-shadow: none;
}
.footer_bottom {
	padding: 30px 0;
	clear: both;
    display: block;
    background: rgba(0,0,0,0.2);
    float: left;
    width: 100%;
}
.footer_bottom a {
	color:#ffffff;
	text-transform: uppercase;
	font-size: 1rem;
	text-decoration: none;
}
@media(min-width:768px) { 
	.footer_bottom .container {
		display: table;
	}
	.footer_bottom .col-md-8 {
		text-align: right;
	}
	.footer_bottom .col-md-4, 	.footer_bottom .col-md-8 {
		float: none;
		display: table-cell;
	}

}
#mood {
}

#mood p{
	font-family:'Kuba_reczny','Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#757575;
}
#mood h2, #mood h3{
	font-family:'Kuba_reczny','Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#454545;
}
div#mood + .read-more a {
    font-size: 1.5rem !important;
}
.Inicjal {
	font-size:24px;
	color:#C83960
}
.Inicjal:first-letter {font-size: 350%; float: left; padding-right:5px; }
.prismIcon {margin-top:40px;}

/*Nowe zapisy w szkoleniu*/
.rabaty-list li {
    display: block;
}
.rabaty-title {
	display:inline-block;
	font-size: 36px;
	color: #5b5b5c;
}
.rabaty-list {
	color: #5b5b5c;
	padding:10px;
	font-size: 18px;
	display: inline-block;
}
.cena_szkolenie
 {
bottom: 0px;
    position: absolute;
    width: 100%;
    right: 10px;
 }
#rabaty {
	clear: both;
	position:relative;
	padding: 20px 0;
	/* bottom:48px; */
	background-image: url(../../img/frontend/cena.png);
	background-repeat:no-repeat;
	background-position: 100% 50%;
}
.content-rezerwacja{
	display:table;
	width:100%;
	margin-top:3px;
	padding:24px;
	background-color:#efefef;
	
}

#term_szkol {
	margin:0;
	padding:0;
}
#term_szkol h3{
	margin:0;
	padding:0;
}
.flex {
	display: flex;
    align-items: center;
}
.thumb-hotel {
	max-width: 100%;
}
.hotel-img-container {
	padding: 0;
}
.hotel-title {
	font-size: 1.5rem;
	margin-top: 0px !important;
}
.hotel-box {
	    margin: 25px 0;
}
/* .hotel-box .hotel-title {
	margin-top: 0px;
} */
/* @media(min-width:767px) {  */

#goOnline {
	float:right;
	margin-top:50;
	margin-right:-75;
	
}
#goOnline a{
	display: block;
	width:180px;
	height:180px;
	background-image: url(../../img/frontend/goOnlineOff.gif);
	
}
#goOnline a:hover{
	background-image: url(../../img/frontend/goOnlineOn.gif);
}